:root {
  --color_blu: #2196f3;
  --color_white: #ffffff;
  --color_black: #212121;
  --color_text: #757575;
  --color_main: #e5e5e5;
  --color_second: #f5f4fa;
}
body {
  background-color: var(--color_main);
  font-family: Roboto;
  color: var(--color_text);
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
  letter-spacing: 0.03em;
  padding-left: 4px;
  padding-right: 4px;
}
ul{
  list-style: none;
}
.container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 80px;
  align-items: center;
}
 /* header */
.navi {
   background-color: #ffffff; 
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  font-family: Roboto;
  color: var(--color_black);
  display: block;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 80px;'
  align-items: center;
  padding-left: 4px;
  
   
}
.nav-links{
  display: flex;
  align-items: center;
  margin-left: 0px;
  padding-left: 0px;
    
}


  
 


.logo-link{
  display: block;
  padding-top: 24px; 
  padding-bottom: 24px;
text-decoration: none; 
color: var(--color_black);
font-family: Raleway; 
font-weight: 700;
font-size: 26px;
line-height: 31px;
display: flex;
align-items: center;
margin-right: 86px;


}
.adr {
  font-family: Raleway;
  color: var(--color_blu);
  align-items: center;
}
.logo {
  background-color: var(--color_white);
  color: var(--color_black);
  
  }

 .nav-links .links{ 
   display: block;
   padding-top: 32px; 
   padding-bottom: 32px;
  text-decoration: none;
  color: var(--color_black);
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  
  
}
  
  .nav-links .item:not(:last-child){
    margin-right: 50px;
  
  } 
  .ite{
    margin-left: 380px;
    margin-right: 50px;
  }

  

  .nav-links .links:hover,
  .nav-links .links:focus {
  color: var(--color_blu);
  }
  
  .nav-links .current{
    color: var(--color_blu);
  }

  .nav-links .emeil{
    color: var(--color_text);
  }
  .nav-links .phon {
    color: var(--color_text);
  }

  .list{
    list-style: none;
  }

  .nav-links .current:focus{
    background-color: var(--color_blu);
  }
  /* text */
h1,h2,h3,h4,h5,h6 {

  color: var(--color_black);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
} 
  .buti{
    display: block;
    display: flex;
    align-items: center;
    
    width: 200px;
    height: 50px;
    color: var(--color_white);

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding-left: 32px;
padding-right: 32px;
margin-top: 0px;
margin-bottom: 0;
text-align: center;
/* text-decoration: none; */
  }
 


.tit{
    display: block;
    display: flex;
    font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
   }
   .about{
     text-align: center;
   }
.garant{
  font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
}


.button {
  display: block;
text-decoration: none;
background-color: var(--color_blu);
color: var(--color_white);



}

.comamda {
  background-color: #f5f4fa;
}

footer {
  text-decoration: none;
  
  background-color: #2f303a;
  font-family: Roboto;
  color: var(--color_white);
 }
 .nav-links .futer {
   color: var(--color_white);}

   .logo-lin{
    text-decoration: none; 
    color: var(--color_white);
    font-family: Raleway; 
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.03em;
    
    }
.down{
  color: var(--color_white);
}

.lists{
text-decoration: none;
color: var(--color_white);

}
/* portfolio */
.port{
  font-weight: 700;
font-size: 18px;
line-height: 36px;
}
.spisoc{
  font-size: 16px;
line-height: 1.88;
}

.name{
  font-size: 16px;
line-height: 1.88;
}
 
 .opus{
  font-size: 18px;
  line-height: 1.88px;
 } 

 